<div class='show-container'>
<div class=show-bk>
  <h1 class="show-title">
    <%= @idea.title %>
  </h1>
  <p class='show-text'><%= @idea.description %></p>
 
  <p class='show-text text-muted'><%= @idea.user.first_name %> <%= @idea.user.last_name %></p>
  </div>
  <span class="show-user">Liked by: <%= @idea.likes.count %></span>
  <span class="btn btn-shadow">
    <% if @like.present? %>
      <%= link_to(
          "Unlike",
          like_path(@like),
          method: :delete
        )
      %>
    <% else %>
      <%= link_to(
          "Like",
          idea_likes_path(@idea),
          method: :post
        )
      %>
    <% end %>
  </span>
  <% if can? :crud, @idea %>
  <div class='edit-delete-btns '>
    <%= link_to(
      "Edit",
      edit_idea_path(@idea),
      class: 'btn btn-shadow show-btn'
    )
    %>
    <%= link_to(
      "Delete",
      idea_path(@idea),
      method: :delete,
      class: 'btn btn-shadow show-btn',
      data: { confirm: 'are you sure?' }
    )
    %>
  </div>
  <% end %>
  
</div>


<div class='show-container'>
<%= form_with(model: [@idea, @review], local: true) do |f| %>
  <% if @review.errors.full_messages.each do |msg| %>
    <ul>
      <li class="text-danger"><%= msg %></li>
    </ul>
    <% end %>
  <% end %>
   <div class="form-group">
  <h3>Please let us know what you think:</h3>
    <%= f.number_field(
      :rating,
      rows: 1,
      placeholder: "1-5",
      class: "form-control"
    ) %>
  </div>
  <div class="form-group">
    <%= f.text_area(
      :body,
      cols: 50,
      rows: 5,
      placeholder: "What are you thoughts?",
      class: "form-control"
    ) %>
  </div>
  <%= f.submit "Review", class: "btn btn-shadow" %>
<% end %>
<div>
<ul class="index-list">
  <% @reviews.each do |review| %>
  <div class="index-text">
    <li class="list-item">
    <h5>Review: <%= review.rating %> out of 5</h5>
      <p class='show-text'>
        <%= review.body %><br />
        <% if can? :crud, review %>
        <small>
          <%= link_to(
            "Delete",
            idea_review_path(@idea, review),
            method: :delete, 
            data: {
              confirm: "Are you sure?"
            },
            class: 'btn btn-shadow show-btn btn-sm',
          ) %>
        </small>
        |
        <% end %>
        <small>
          Reviewed <%= time_ago_in_words(review.created_at) %> by <%= review.user.first_name %> <%= review.user.last_name %>
        </small>
      </p>
    </li>
    </div>
  <% end %>
</ul>
</div>
</div>